{
	"arrowParens": "avoid",
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 110,
	"endOfLine": "auto",
	"overrides": [
		{
			"files": ["*.md", "*.mdx", "*.yaml", "*.astro"],
			"options": {
				"tabWidth": 2
			}
		}
	]
}
