@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-text-main: #171717;
		--color-bg-main: #f7eed2;
		--color-bg-muted: #ede2c2;
		--color-border-main: #171717;
	}
	html.dark {
		--color-text-main: #f2f1ec;
		--color-bg-main: #1c0615;
		--color-bg-muted: #12010c;
		--color-border-main: #f2f1ec;
	}

	/* :root {
		--color-text-main: #171717;
		--color-bg-main: #f2f1ec;
		--color-bg-muted: #eae9e1;
		--color-border-main: #171717;
	}
	html.dark {
		--color-text-main: #f2f1ec;
		--color-bg-main: #171717;
		--color-bg-muted: #242424;
		--color-border-main: #f2f1ec;
	} */

	/* Cyan */
	/*
    :root {
        --color-text-main: 22 42 43;
        --color-bg-main: 214 224 226;
        --color-bg-muted: 204 216 219;
        --color-border-main: 22 42 43;
    }
    html.dark {
        --color-text-main: 214 224 226;
        --color-bg-main: 22 42 43;
        --color-bg-muted: 28 53 55;
        --color-border-main: 214 224 226;
    }
    */

	/* Green */

	/* default from theme */
	/*
    :root {
        --color-text-main: 58 66 56;
        --color-bg-main: 243 239 230;
        --color-bg-muted: 238 233 220;
        --color-border-main: 58 66 56;
    }
    html.dark {
        --color-text-main: 243 239 230;
        --color-bg-main: 94 108 91;
        --color-bg-muted: 89 103 86;
        --color-border-main: 243 239 230;
    }
    */
}
