---
import { langPicker } from '../i18n/ui'
console.log(Astro.currentLocale)
const locale = Astro.currentLocale
const pathname = Astro.url.pathname
const origin = Astro.url.origin
---

{
	Object.entries(langPicker)
		.filter(([lang, values]) => lang !== locale)
		.map(([lang, { icon, label }]) => {
			const [_trailingSlash, _oldLang, ...slug] = pathname.split('/')
			console.log('alo', _trailingSlash, _oldLang, slug, lang)
			return (
				<a href={`${origin}/${lang}/${slug.join('/')}`} title={label}>
					{icon}
				</a>
			)
		})
}

<script></script>
