---
import NavLink from './NavLink.astro'
import ThemeToggle from './ThemeToggle.astro'
import siteConfig from '../data/site-config'

const navLinks = siteConfig.headerNavLinks || []
import LanguagePicker from '../components/LanguagePicker.astro'
---

<nav class='min-h-10 pt-4 pb-12 relative sm:min-h-14 sm:pb-24 md:pt-8'>
	{
		navLinks.length > 0 && (
			<div class='w-full max-w-3xl mx-auto relative'>
				<ul id='menu-items' class='menu flex gap-6'>
					{navLinks.map(link => (
						<li class='py-1'>
							<NavLink class='text-xl lg:text-2xl font-serif text-main hover:opacity-80' href={link.href}>
								{link.text}
							</NavLink>
						</li>
					))}
				</ul>
			</div>
		)
	}
	<div class='absolute right-0 top-4 z-10 md:top-8 flex gap-4 items-center'>
		<LanguagePicker />
		<ThemeToggle />
	</div>
</nav>
