---
import '@fontsource/zilla-slab'
import '@fontsource-variable/noto-sans'
import '@fontsource/space-mono'
import { ViewTransitions } from 'astro:transitions'
import BaseHead, { type Props as HeadProps } from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import Nav from '../components/Nav.astro'
import PostHog from '../components/posthog.astro'

export type Props = HeadProps & {
	navVariant?: 'default' | 'radio'
}

const head = Astro.props
const { navVariant = 'default' } = Astro.props
const locale = Astro.currentLocale ?? 'en'
---

<!doctype html>
<html lang={locale} class='antialiased break-words'>
	<head>
		<BaseHead {...head} />
		<script>
			if (localStorage.theme === 'dark') {
				document.documentElement.classList.add('dark')
			}
		</script>
		<ViewTransitions />
		<PostHog />
	</head>
	<body class='bg-main text-main overflow-x-hidden'
		><div class='flex flex-col min-h-screen px-4 md:px-8'>
			<Nav variant={navVariant} />
			<main class='grow w-full max-w-3xl mx-auto'>
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
